
/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.play-bold {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

:root{
    --color-primary-dark: #31261a;
    --color-primary-light: #FFF;
    --color-brand-light: #2B7FFF;
    --color-brand-dark: #011C44;
}

/* Basic */

*{
    box-sizing: border-box;
}

body{
    color: var(--color-brand-dark);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1264px;
    margin: 0 auto;
    padding: 0 24px;
}

h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
}

address {
    font-style: normal;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* ///// */

/* Button */

.button{
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    padding: 16px 32px;
    border-radius: 32px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 14px;
}

.button:hover{
    background-color: transparent;
    color: var(--color-brand-dark);
}

.button-text{
    font-size: 12px;
    width: 238px;
}

/* ///// */

/* Link */

.link{
    color: var(--color-brand-dark);
    text-decoration: none;
}

.link:hover{
    color: var(--color-brand-light);
    /* font-weight: 600; */
}

/* ///// */

/* Header */
.header-container{
    display: flex;
    /* margin: 32px auto; */
    gap: 30px;
    height: 106px;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 30px;
}

.header-menu{
    display: flex;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;
}

.header-address {
    display: flex;
    gap: 32px;
    flex-grow: 1;
    justify-content: center;
}

/* Hero */

.hero-section{
    padding: 160px 667px 270px 244px ;
}

.hero-text{
    margin-bottom: 16px;
}

.hero-title{
    width: 529px;
    margin-bottom: 40px;
    color: var(--color-brand-light);
    font-family: "Play", sans-serif;
    text-align: left;
    font-size: 140px;
    font-weight: 700;
    line-height: 0.9;
    text-transform: capitalize;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
}

/* ///// */

/* section-title */

.section-title{
    font-family: "Play", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.accent{
    color: var(--color-brand-light);
}

.accent-color {
    color: var(--color-brand-light);
    text-transform: capitalize;
}

/* ///// */
.face{
    width: 335px;
    height: 328px;
    border-radius: 200px;
}
/* About */

.about-container{
    display: flex;
    gap: 28px;
}

.about-face{
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.about-face .facetwo{
    margin-left: 168px;
}

.about-section{
    text-align: left;
    padding-top: 40px;
    padding-bottom: 88px;
}

.about-title {
    margin-bottom: 40px;
    width: 529px;
    text-align: left;
}

.about-text {
    font-size: 22px;
    line-height: initial;
    width: 600px;
}

.about-margin {
    margin-bottom: 40px;
}

.about-text-up {
    text-transform: capitalize;
    font-weight: 600;
}

/* ///// */

/* WHY */

.why-section{
    padding-top: 88px;
    padding-bottom: 48px;
}

.title-margin {
    margin-bottom: 48px;
}

.why-text{
    width: 252px;
}

.why-container{
    display: flex;
    justify-content: center;
    gap: 56px;
}

/* ////// */

/* Procedures  */

.procedures-section{
    padding-top: 48px;
    padding-bottom: 48px;
}

.procedures-title {
    color: var(--color-primary-light);
    font-size: 22px;
    background-color: var(--color-brand-dark);

}

.procedures-container{
    display: flex;
    justify-content: center;
    gap: 200px;
}

/* ////// */

.border{
    border: 3px solid var(--color-brand-dark);
    border-radius: 16px;
    padding: 24px 32px;
    text-align: center;
}

.border .fics {
    border: 3px solid var(--color-brand-dark);
    border-radius: 16px;
    padding: 24px 32px;
    text-align: center;
    width: 767px;
    height: 511px;
}

/* Contact */

.contact-section{
    padding-top: 48px;
    padding-bottom: 96px;
}

.box{
    text-align: right;
}

.sign-title{
    margin-bottom: 32px;
}

/* ////// */

/* Address */

.address-link{
    color: var(--color-brand-dark);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-light);
}

.address-copyright{
    font-size: 14px;
    color: #747272;
}

/* /////// */