
/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.play-bold {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

:root{
    --color-primary-dark: #31261a;
    --color-primary-light: #FFF;
    --color-brand-light: #2B7FFF;
    --color-brand-dark: #011C44;
}

/* Basic */

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    color: var(--color-brand-dark);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
}

a{
    display: inline-block;
}

address {
    font-style: normal;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}



/* ///// */

/* Button */

.button{
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    padding: 16px 32px;
    border-radius: 32px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 14px;
}

.button.contact{
    width: 281px;
    height: 53px;
    align-self: center;
    margin-bottom: 8px;
}

.button:hover{
    background-color: transparent;
    color: var(--color-brand-dark);
}

.button.contact:hover{
    background-color: var(--color-primary-light);
}

.button-text{
    font-size: 12px;
    width: 238px;
}

/* ///// */

/* Link */

.link{
    color: var(--color-brand-dark);
    text-decoration: none;
}

.footer-link{
    color: var(--color-primary-light);
    text-decoration: none;
}

.link:hover{
    color: var(--color-brand-light);
    /* font-weight: 600; */
}
.footer-link:hover{
    color: var(--color-brand-light);
    /* font-weight: 600; */
}

/* ///// */

/* Header */

.header-container{
    display: flex;
    gap: 30px;
    background-color: transparent;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 30px;
}

.header-menu{
    display: flex;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;
}

.header-address {
    display: flex;
    gap: 32px;
    flex-grow: 1;
    justify-content: center;
}

.header-icon{
    fill: var(--color-brand-dark);
}
.header-icon:hover{
    fill: var(--color-brand-light);
}

/* Hero */

.hero-section{
    background-image: url('../image/cos-office.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
} 

.hero-text{
    margin-bottom: 16px;
}

.hero-title{
    width: 529px;
    margin-bottom: 40px;
    color: var(--color-brand-light);
    font-family: "Play", sans-serif;
    text-align: left;
    font-size: 140px;
    font-weight: 700;
    line-height: 0.9;
    text-transform: capitalize;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    /* width: 1288px; */
    height: 658px;
    padding: 160px 667px 270px 244px;
}

/* ///// */

/* section-title */

.section-title{
    font-family: "Play", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.accent{
    color: var(--color-brand-light);
}

.accent-color {
    color: var(--color-brand-light);
    text-transform: capitalize;
}

/* ///// */
.face{
    width: 335px;
    height: 328px;
    border-radius: 200px;
}

.background{
    background-image: url('../image/background-blue.png');
    background-position: center 1400px;
    background-repeat: no-repeat;
}
/* About */

.about-container{
    display: flex;
    gap: 28px;
    justify-content: center;
}

.about-face{
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.about-face .facetwo{
    margin-left: 168px;
}

.about-section{
    text-align: left;
    padding-top: 40px;
    padding-bottom: 88px;
}

.about-title {
    margin-bottom: 40px;
    width: 529px;
    text-align: left;
}

.about-text {
    font-size: 22px;
    line-height: initial;
    width: 600px;
}

.about-margin {
    margin-bottom: 40px;
}

.about-margin:last-child{
    margin-bottom: 0;
}

.about-text-up {
    text-transform: capitalize;
    font-weight: 600;
}

/* ///// */

/* WHY */

.why-section{
    padding-top: 88px;
    padding-bottom: 48px;
}

.title-margin {
    margin-bottom: 48px;
}

.why-text{
    width: 252px;
}

.why-container{
    display: flex;
    justify-content: center;
    gap: 56px;
    flex-wrap: wrap;
}

.why-items{
    flex-basis: calc((100%-56px)/3);
}

/* ////// */

/* Procedures  */

.procedures-section{
    padding-top: 48px;
    padding-bottom: 48px;
}

.procedures-title {
    color: var(--color-primary-light);
    font-size: 22px;
}

.procedures-container{
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
}

.procedures-list{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.procedures-items{
    flex-basis: calc((100%-16px)/3);
}

.carousel-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--color-brand-dark);
    border: 1px solid var(--color-brand-dark);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}


.carousel-button:hover {
    background-color: var(--color-brand-light);
    border: var(--color-primary-light);
    fill: var(--color-primary-light);
}


.border{
    background-color: var(--color-primary-light);  
    border-radius: 16px;
    padding: 24px 32px;
    text-align: center;
}

.fics{
    background-image: linear-gradient(180.00deg, rgba(1, 28, 68, 0) 48.529%, rgba(1, 28, 68, 0.73) 84.641%, rgb(1, 28, 68) 101.43%);
    border-radius: 4px 120px 4px 120px;
    padding: 372px 77px 32px 115px;
    text-align: center;
    width: 344px;
    height: 456px;
}

/* ////// */



/* Contact */

.contact-section{
    padding-top: 48px;
    padding-bottom: 96px;
}

.contact-container{
    display: flex;
    gap: 32px;
    justify-content: center;
}

.sign-title{
    margin: 48px auto auto;
    color: var(--color-primary-light);
    max-width: 277px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.text-contact{
    max-width: 213px;
    height: 36px;
    text-align: center;
    font-size: 12px;
    color: #747272;
    margin: 0 auto 48px;
}

.text-contact.highlight:hover{ 
    color: var(--color-brand-light);
}

.maps{
    display: flex;
    border: none;
    border-radius: 32px;
}

.box-sing{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: var(--color-brand-dark);
    background-image: url('../image/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 32px;
    width: 423px;
    height: 481px;
}

/* ////// */

/* Address */

.footer {
    background-color: var(--color-brand-dark);
    background-image: url('../image/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
    /* height: 278px; */
}

.address-link{
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address{
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu{
    flex-grow: 1;
}

.address-list,
.address-info{
    flex-grow: 1;
}


.footer-icon {
    fill: var(--color-primary-light);
}

.footer-icon:hover {
    fill: var(--color-brand-light);
}

.address-link:hover {
    color: var(--color-brand-light);
}

.address-copyright{
    font-size: 14px;
    color: #747272;
}

/* /////// */




