@import './utils/fonts';
@import './utils/variables';

@import './base';

@import './utils/utils';

@import './components/buttons';
@import './components/links';
@import './components/header';
@import './components/hero';


/* section-title */

.section-title {
    font-family: "Play", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.accent {
    color: var(--color-brand-light);
}

.accent-color {
    color: var(--color-brand-light);
    text-transform: capitalize;
}

/* ///// */


.background {
    background-image: url('../image/background-blue.png');
    background-position: center 1400px;
    background-repeat: no-repeat;
}

/* About */

.about-container {
    display: flex;
    gap: 28px;
    justify-content: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.face {
    width: 335px;
    height: 328px;
    border-radius: 200px;
}

.about-face {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.about-face .facetwo {
    margin-left: 168px;
}

.about-section {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 88px;
}

.about-title {
    margin-bottom: 40px;
    width: 529px;
    text-align: left;
}

.about-text {
    font-size: 22px;
    line-height: initial;
    width: 600px;
}

.about-margin {
    margin-bottom: 40px;
}

.about-margin:last-child {
    margin-bottom: 0;
}

.about-text-up {
    text-transform: capitalize;
    font-weight: 600;
}

/* ///// */

/* WHY */

.why-section {
    padding-top: 88px;
    padding-bottom: 48px;
}

.title-margin {
    margin-bottom: 48px;
}

.title-hidden {
    display: none;
    /* visibility: hidden; */
}

.why-text {
    width: 252px;
}

.why-container {
    display: flex;
    justify-content: center;
    gap: 56px;
    flex-wrap: wrap;
}



/* ////// */

/* Procedures  */

.procedures-section {
    padding-top: 48px;
    padding-bottom: 48px;
}

.procedures-title {
    color: var(--color-primary-light);
    font-size: 22px;
}

.procedures-container {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
}

.procedures-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.procedures-items {
    flex-basis: calc((100% - 16px)/3);
}

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--color-brand-dark);
    border: 1px solid var(--color-brand-dark);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: fill 0.3s;
}

.carousel-button.right-btn {
    transform: rotate(180deg);
}


.carousel-button:hover {
    background-color: var(--color-brand-light);
    border: var(--color-primary-light);
    fill: var(--color-primary-light);
}


.border {
    background-color: var(--color-primary-light);
    border-radius: 16px;
    padding: 24px 32px;
    text-align: center;
}



.fics {
    background-image: linear-gradient(180.00deg, rgba(1, 28, 68, 0) 48.529%, rgba(1, 28, 68, 0.73) 84.641%, rgb(1, 28, 68) 101.43%);
    border-radius: 4px 120px 4px 120px;
    position: relative;
    width: 344px;
    height: 456px;
    transition: transform 0.3s;
}

.fics:hover {
    transform: scale(1.05);
}

.procedures-image {
    position: absolute;
    width: 344px;
    height: 456px;
    background-position: center;
    z-index: -1;
    border-radius: 4px 120px 4px 120px;
}

.proc-title{
    display: flex;
    justify-content: center;
    padding: 371px 77px 32px 115px;
    text-align: center;
}
/* ////// */



/* Contact */

.contact-section {
    padding-top: 48px;
    padding-bottom: 96px;
}

.contact-container {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.sign-title {
    margin: 48px auto 32px;
    color: var(--color-primary-light);
    max-width: 277px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.text-contact {
    max-width: 213px;
    height: 36px;
    text-align: center;
    font-size: 12px;
    color: var(--color-secondary);
    margin: 0 auto 48px;
    transition: color 0.3s;
}

.text-contact.highlight:hover {
    color: var(--color-brand-light);
}

.maps {
    display: flex;
    border: none;
    border-radius: 32px;
    height: 481px;
}

.box-sing {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-brand-dark);
    background-image: url('../image/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 32px;
    width: 423px;
    height: 481px;
}

/* ////// */

/* Address */

.footer {
    position: relative;
    background-color: var(--color-brand-dark);
    background-image: url('../image/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
    height: 278px;
}

.footer::after {
    position: absolute;
    width: 240px;
    height: 150px;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-image: url('../image/pexels-photo.png');
    content: '';
}

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.address-list,
.address-info {
    flex-grow: 1;
}


.footer-icon {
    fill: var(--color-primary-light);
    transition: fill 0.3s;
}

.footer-icon:hover {
    fill: var(--color-brand-light);
}

.address-link:hover {
    color: var(--color-brand-light);
}

.address-copyright {
    font-size: 14px;
    color: var(--color-secondary);
}


/* /////// */

/* MODAL */

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: rgba(1, 28, 68, 0.73);
    transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-brand-dark);
    background-image: url('../image/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 720px;
    height: 680px;
    border-radius: 32px;
}



.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}

.title-modal {
    font-family: 'Play';
    width: 100%;
    max-width: 430px;
    height: 100%;
    max-height: 150px;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    margin: 40px auto;
    text-align: center;
    color: var(--color-primary-light);

}

.text-modal {
    margin: 0 auto 32px;
}

.form-field {
    margin-bottom: 24px;
    width: 310px;
    height: 52px;
}

.form-label {
    display: block;
}

.form-input {
    padding: 18px 32px;
    width: 100%;

    border: 2px solid var(--color-secondary);
    border-radius: 32px;
    background-color: transparent;
    margin-bottom: 24px;
}

.form-input:focus {
    background-color: var(--color-secondary);
    outline: none;
}

.form-input::placeholder {
    color: var(--color-primary-light);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}

.button.contact.btn-modal {
    display: block;
    margin: 0 auto 8px;
}