.background {
    background-image: url('../image/background-blue.png');
    background-position: center 670px;
    background-size: auto 2100px;
    background-repeat: no-repeat;

    @media screen and (min-width: $bp-tablet) {
        background-position: center 820px;
        background-size: auto 1700px;
    }

    @media screen and (min-width: $bp-desktop){
        background-position: center 1400px;
        background-size: auto;
    }

   
}