:root {
    --color-primary-dark: #31261a;
    --color-primary-light: #FFF;
    --color-brand-light: #2B7FFF;
    --color-brand-dark: #011C44;
    --color-secondary: #747272;
    --color-shadow-box: #a8c6f5;
}