.about-section {
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;

    @media screen and (min-width: $bp-desktop) {
        padding-top: 40px;
        padding-bottom: 88px;
    }

    &__container {
        display: flex;
        align-items: flex-start;
        gap: 28px;
        justify-content: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding-top: 0;

    @media screen and (min-width: $bp-tablet) {
            padding-top: 40px;
        }
    }

    &__title {
       margin-bottom: 16px;
        width: 270px;
        text-align: left;

        @media screen and (min-width: $bp-desktop) {
            width: 529px;
            margin-bottom: 40px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: initial;
        width: 335px;

        @media screen and (min-width: $bp-desktop) {
                width: 600px;
                font-size: 22px;
            }
    }

    &__text{
    &--up {
        text-transform: capitalize;
        font-weight: 600;
    }
    }
     
    &__text{
    &--margin {
        margin-bottom: 16px;

        @media screen and (min-width: $bp-desktop) {
            margin-bottom: 40px;
        }
    }
    }
    
    &__text{
    &--margin:last-child {
        margin-bottom: 0;
    }
    }

    &__face {
       display: none;

        @media screen and (min-width: $bp-tablet) {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        @media screen and (min-width: $bp-desktop) {
            gap: 40px;
        }
        
    }

     .face {
        width: 200px;
        height: 200px;
        border-radius: 200px;

        @media screen and (min-width: $bp-desktop) {
            width: 335px;
            height: 328px;
        }
     }

    .facetwo {
        margin-left: 150px;

        @media screen and (min-width: $bp-desktop) {
            margin-left: 200px;
        }
    }
}

