.contact-section {
    padding-top: 48px;
    padding-bottom: 96px;

&__container {
        display: flex;
        gap: 32px;
        justify-content: center;
    }

&__maps {
    display: flex;
    border: none;
    border-radius: 32px;
    height: 481px;
}

&__sing {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-brand-dark);
    background-image: url('../image/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 32px;
    width: 423px;
    height: 481px;
}

&__form-field{
    margin-bottom: 24px; 
}
}








