.footer {
    position: relative;
    background-color: var(--color-brand-dark);
    background-image: url('../image/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
    text-align: center;
    
    @media screen and (min-width: $bp-tablet) {
        text-align: left;
    }

&::after {
    display: none;
    position: absolute;
    width: 240px;
    height: 150px;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-image: url('../image/pexels-photo.png');
    content: '';

    @media screen and (min-width: $bp-desktop) {
        display: block;
    }
}

&__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    

    @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            
        }
}

&__nav,
&__address {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
        flex-direction: row;
        flex-basis: 50%;
    }
}

&__logo,
&__menu {
    flex-grow: 1;
}

&__menu{
    gap: 16px;
    display: flex;
    flex-direction: column;
}

&__icon {
    fill: var(--color-primary-light);
    transition: fill 0.3s;
}

&__icon:hover {
    fill: var(--color-brand-light);
}

&__address-gap{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

&__icon-row {
    height: 40px;
    flex-direction: row;
    display: flex;
    gap: 24px;
}

&__icon-div {
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
        margin: 0;
    }
}
}

.address{

&__list,
&__info {
    flex-grow: 1;
}

&__list{
    gap: 16px;
    display: none;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
        display: flex;
    }
}

&__info{
    display: flex;
    flex-direction: column;
    align-items: center;

}

&__copyright {
    font-size: 14px;
    color: var(--color-secondary);
}


}











