.footer {
    position: relative;
    background-color: var(--color-brand-dark);
    background-image: url('../image/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
    height: 278px;

&::after {
    position: absolute;
    width: 240px;
    height: 150px;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-image: url('../image/pexels-photo.png');
    content: '';
}

&__container {
    display: flex;
    gap: 20px;
}

&__nav,
&__address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

&__logo,
&__menu {
    flex-grow: 1;
}

&__menu{
    gap: 16px;
    display: flex;
    flex-direction: column;
}

&__icon {
    fill: var(--color-primary-light);
    transition: fill 0.3s;
}

&__icon:hover {
    fill: var(--color-brand-light);
}

&__address-gap{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

&__icon-row {
    height: 40px;
    flex-direction: row;
    display: flex;
    gap: 24px;
}
}

.address{

&__list,
&__info {
    flex-grow: 1;
}

&__list{
    gap: 16px;
    display: flex;
    flex-direction: column;
}

&__info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

&__copyright {
    font-size: 14px;
    color: var(--color-secondary);
}
}











