.header {
    position: absolute;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
    padding: 16px 0;

 
 &__container {
    display: flex;
    gap: 30px;
    background-color: transparent;
    align-items: center;
 }
 
  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 30px;
  }
  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
        display: flex;
        gap: 56px;
        flex-grow: 1;
        justify-content: center;
      }
  }
  &__address {
    display: none;

    @media screen and (min-width: $bp-desktop) {
        display: flex;
        gap: 32px;
        flex-grow: 1;
        justify-content: center;
      }
  }

  &__icon {
    fill: var(--color-brand-dark);
    transition: fill 0.3s;
  }
  &__icon:hover {
    fill: var(--color-brand-light);
  }

  &__burger{
    width: 24px;
    height: 24px;
    padding: 0;
    background: transparent;
    border: 0;
    fill: var(--color-primary-light);
  
    @media screen and (min-width: $bp-desktop) {
        display: none;
      }
    }

 
}

