.mobile-menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 500px;
    background-color: var(--color-primary-light);
    transform: translateX(100%);
    transition: transform 0.3s;

  
&.is-open{
    transform: translateX(0);
}

&__btn-close{
    position: absolute;
    top: 20px;
    right: 20px;
}

&__nav{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 20px;
    margin-bottom: 17px;
}

&__address{
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    margin-left: 20px;
}
}



 