.procedures-section {
    padding-top: 48px;
    padding-bottom: 48px;
}

.procedures-title {
    color: var(--color-primary-light);
    font-size: 22px;
}

.procedures-container {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
}

.procedures-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.procedures-items {
    flex-basis: calc((100% - 16px)/3);
}

.border {
    background-color: var(--color-primary-light);
    border-radius: 16px;
    padding: 24px 32px;
    text-align: center;
}

.fics {
    background-image: linear-gradient(180.00deg, rgba(1, 28, 68, 0) 48.529%, rgba(1, 28, 68, 0.73) 84.641%, rgb(1, 28, 68) 101.43%);
    border-radius: 4px 120px 4px 120px;
    position: relative;
    width: 344px;
    height: 456px;
    transition: transform 0.3s;
}

.fics:hover {
    transform: scale(1.05);
}

.procedures-image {
    position: absolute;
    width: 344px;
    height: 456px;
    background-position: center;
    z-index: -1;
    border-radius: 4px 120px 4px 120px;
}

.proc-title {
    display: flex;
    justify-content: center;
    padding: 371px 77px 32px 115px;
    text-align: center;
}