.procedures-section {
    padding-top: 48px;
    padding-bottom: 48px;

    &__container {
        display: flex;
        align-items: center;
        gap: 32px;
        justify-content: center;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    &__items {
        flex-basis: calc((100% - 16px)/3);
    }
}









