.why-section {
    padding-top: 88px;
    padding-bottom: 48px;
}

.title-margin {
    margin-bottom: 48px;
}

.title-hidden {
    display: none;
    /* visibility: hidden; */
}

.why-text {
    width: 252px;
}

.why-container {
    display: flex;
    justify-content: center;
    gap: 56px;
    flex-wrap: wrap;
}