
.why-section {
    padding-top: 88px;
    padding-bottom: 48px;

// &__title {
//         &--margin {
//             margin-bottom: 48px;
//         }
//     }

    &__container {
        display: flex;
        justify-content: center;
        gap: 56px;
        flex-wrap: wrap;
    }

    // &__items {
    //     flex-basis: calc((100% - 56px)/3);
    // }
}






