.header{
&__link {
    color: var(--color-brand-dark);
    text-decoration: none;
    transition: color 0.3s;
}
&__link:hover {
        color: var(--color-brand-light);
        /* font-weight: 600; */
    }
}

.footer{
&__link {
    color: var(--color-primary-light);
    text-decoration: none;
    transition: color 0.3s;
}


&__link:hover {
    color: var(--color-brand-light);
    /* font-weight: 600; */
}
}

.address{

&__link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    transition: color 0.3s;
}

&__link:hover {
    color: var(--color-brand-light);
}
}